*
!README.md
!.gitignore
!img/
!img/**
!ANALYTICS_INVITI.md
!ANALYTICS_QUESTIONARIO.md
!PRE_ANALYTICS_PAPERS.md
!PRE_ANALYTICS_OSPEDALI.md
!Questionario_OPBG_Adozione_FL/
!Questionario_OPBG_Adozione_FL/**
